.container {
    box-sizing: border-box;
    margin-top: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.leftSection {
    width: 467px;
    height: 275px;
    display: grid;
    place-items: center;
}

.leftSection > p {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    line-height: 40px; 
}

.herobtn {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: 500;
    background-color: #089063;
    cursor: pointer;
    outline: none;
    transition: background-color 0.8s ease;
    animation: blinkBorder 2s infinite;
}

.herobtn:hover {
    background-color: white;
    border: 2px solid #089063;
    color: #089063;
  }
  
  @keyframes blinkBorder {
    0% {
      border-color: #063d2b;
    }
    50% {
      border-color: #089063;
    }
    100% {
      border-color: #c8d4d0;
    }
  }

.rightSection {
    width: 715px;
    height: 576px;
    border-radius: 24px;
}

.rightSection > .grid {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}
  